BasedOnStyle: LLVM
AccessModifierOffset: -8
AlignEscapedNewlinesLeft: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: false
BinPackParameters: true
ColumnLimit:     120
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerBinding: false
IndentCaseLabels: false
MaxEmptyLinesToKeep: 2
ObjCSpaceBeforeProtocolList: true
PenaltyBreakComment: 45
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 75
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
SpacesInBracedLists: true
Standard:        Auto
IndentWidth:     8
UseTab:          true
BreakBeforeBraces: Attach

