BasedOnStyle: LLVM
AccessModifierOffset: -8
AlignEscapedNewlinesLeft: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: false
BinPackParameters: true
ColumnLimit:     0
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerBinding: false
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
ObjCSpaceBeforeProtocolList: true
PenaltyBreakComment: 45
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 75
PointerBindsToType: true
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
Standard:        Auto
IndentWidth:     8
UseTab:          Always
BreakBeforeBraces: Linux
BreakConstructorInitializersBeforeComma: true
