# ninja build
/build.ninja
/.ninja_log
/.ninja_deps
/rules.ninja
/compile_commands.json

# cmake
cmake_install.cmake
CMakeFiles/
/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
CTestTestfile.cmake

# output
/src/springlobby
/src/springsettings/springsettings
/src/updater/springlobby_updater
/src/tests/test_ChatLog
/src/tests/test_Config
/src/tests/test_lobbyid
*.a

# temp files
*.swp
/po/*.gmo
*~
*.orig
/springlobby_config.h
/VERSION

# codeblocks
/springlobby.cbp
/springlobby.layout
