.gitignore
build-*
build
bin
obj
springlobby.layout
springlobby.depend
*~
.cproject
.project
unitsync.log
doc/.gitignore
rpm/.gitignore
*.vcproj.*.user
*.suo
*.ncb
*.o
po/*
Makefile
Options.fbp
Updater.fbp
*.diff
config.h
doc/html/
doc/*
formbuilder.cpp
formbuilder.h
options.xrc
patch0.patch
remrampatch.diff
springlobby
springsettings
src/images/logo_xmas.svg
src/images/replay_icon.xpm
src/images/updater/
src/iunitsyncmap.cpp
src/sha1.c
src/sha1.h
test.txt
test/*
src/images/updater/*
*.fbp.bak
CMakeLists.txt.user*
src/qt-build/
attic/
