# ninja build
/build.ninja
/.ninja_log
/.ninja_deps
/rules.ninja

# cmake
cmake_install.cmake
CMakeFiles/
/CMakeCache.txt

# output
/src/springlobby
/src/springsettings/springsettings
*.a

# temp files
*.swp
/po/*.gmo
/po/*~

# codeblocks
/springlobby.cbp
