Source: springlobby
Section: unknown
Priority: extra
Maintainer: Semi G <FIXME_our_debian_maintainer_address>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: springlobby
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
