#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SLVERSION=$(shell dpkg-parsechangelog | sed -n 's/^Version: //p' | cut -f1 -d'-')

PROGDIR := $(CURDIR)/debian/tmp

override_dh_auto_configure:
	dh_auto_configure -- -DSPRINGLOBBY_REV:STRING=$(SLVERSION) -DCMAKE_BUILD_TYPE=RELWITHDEBINFO

override_dh_auto_install:
	a2x --doctype manpage --format manpage debian/manpages/springlobby.6.txt
	a2x --doctype manpage --format manpage debian/manpages/springsettings.6.txt
	+dh_auto_install

	# install launcher
	mkdir -p $(PROGDIR)/usr/games
	mv $(PROGDIR)/usr/bin/springsettings $(PROGDIR)/usr/games/
	mv $(PROGDIR)/usr/bin/springlobby $(PROGDIR)/usr/games/
	# remove empty dirs (/usr/bin expected until an CMake bindir is provided)
	find $(PROGDIR) -type d -empty -delete

override_dh_strip:
	+dh_strip --dbg-package=springlobby-dbg

override_dh_auto_clean:
	+dh_auto_clean
	rm -f debian/manpages/springlobby.6 debian/manpages/springsettings.6

%:
	# fail to build on architectures other than amd64 and i386
	dpkg-architecture -eamd64 || dpkg-architecture -ei386 || exit 1
	+dh $@ --buildsystem=cmake --parallel
