<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="AutoBalanceDialog">
		<title>Autobalance players into teams</title>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="m_main_sizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="m_choices_sizer" member="no">
					<cols>2</cols>
					<vgap>4d</vgap>
					<hgap>10d</hgap>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="m_method_label" member="yes">
							<label>Method</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_METHOD" variable="m_method_choice" member="yes">
							<content>
								<item>Random</item>
								<item>Divide ranks evenly</item>
							</content>
							<selection>1</selection>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText1" member="yes">
							<label>Clans</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE1" variable="m_clans_choice" member="yes">
							<content>
								<item>None</item>
								<item>Fair</item>
								<item>Always</item>
							</content>
							<selection>0</selection>
							<tooltip>Put members of same clan ( users having same clantag, like &apos;[smurfzor]Alice&apos; and &apos;[smurfzor]Bob&apos; ) together into same alliance. &#x0A;None: nothing special for clans.&#x0A;Fair: put clanmembers into alliance, unless this makes alliances unfair.&#x0A;Always: always put clanmembers into alliance, even if that alliance is unfair.</tooltip>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<size>0,0d</size>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="m_separator1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="m_buttons_sizer" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_CANCEL" variable="m_cancel_button" member="yes">
							<label>Cancel</label>
							<handler function="OnCancel" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND|wxSHAPED|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
						<size>0,0</size>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_OK" variable="m_ok_button" member="yes">
							<label>Ok</label>
							<handler function="OnOk" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
		</object>
	</object>
</wxsmith>
