<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="MapSelectDialog">
		<title>Select map</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="no">
							<label>Vertical sort key</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="boxSizerVertical" member="no">
							<object class="sizeritem">
								<object class="wxChoice" name="ID_VERTICAL_CHOICE" variable="m_vertical_choice" member="yes">
									<handler function="OnSortKeySelect" entry="EVT_CHOICE" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="no">
							<label>Horizontal sort key</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="boxSizerHorizontal" member="no">
							<object class="sizeritem">
								<object class="wxChoice" name="ID_HORIZONTAL_CHOICE" variable="m_horizontal_choice" member="yes">
									<handler function="OnSortKeySelect" entry="EVT_CHOICE" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
							<label>Show</label>
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_FILTER_ALL" variable="m_filter_all" member="yes">
									<label>All maps</label>
									<tooltip>Shows all available maps</tooltip>
									<handler function="OnFilterAllSelect" entry="EVT_RADIOBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_FILTER_POPULAR" variable="m_filter_popular" member="yes">
									<label>Popular maps</label>
									<tooltip>Shows only maps which are currently being player on the server. You must be online to use this.</tooltip>
									<handler function="OnFilterPopularSelect" entry="EVT_RADIOBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_FILTER_RECENT" variable="m_filter_recent" member="yes">
									<label>Recently played maps</label>
									<selected>1</selected>
									<tooltip>Shows only maps you played recently. (Based on your replays.)</tooltip>
									<handler function="OnFilterRecentSelect" entry="EVT_RADIOBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
							<label>Filter</label>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_FILTER_TEXT" variable="m_filter_text" member="yes">
									<tooltip>Shows only maps which contain this text in their name or description.</tooltip>
									<handler function="OnFilterTextChanged" entry="EVT_TEXT" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="m_map_details" member="yes">
							<label>Map details</label>
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_MAP_NAME" variable="m_map_name" member="yes">
									<label></label>
									<size>170,90</size>
									<extra_code>m__map__name-&gt;SetLabel( wxEmptyString );</extra_code>
									<style>wxST_NO_AUTORESIZE</style>
								</object>
								<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxListCtrl" name="ID_MAP_OPTS_LIST" variable="m_map_opts_list" member="yes">
									<size>170,120</size>
									<style>wxLC_REPORT|wxLC_NO_HEADER|wxNO_BORDER</style>
								</object>
								<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
							<object class="button">
								<object class="wxButton" name="wxID_OK">
									<label></label>
								</object>
							</object>
							<object class="button">
								<object class="wxButton" name="wxID_CANCEL">
									<label></label>
								</object>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="Custom" name="ID_MAPGRID" subclass="MapGridCtrl" variable="m_mapgrid" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT), m__ui, $(SIZE), $(ID));</creating_code>
					<include_file>mapgridctrl.h</include_file>
					<local_include>1</local_include>
					<style></style>
					<size>600,400</size>
					<handler function="OnMapGridLeftDClick" entry="EVT_LEFT_DCLICK" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
