[Desktop Entry]
Name=SpringLobby
Comment=Play real-time strategy games using the Spring engine
Exec=springlobby
Icon=springlobby
Terminal=false
Type=Application
Categories=Game;StrategyGame;
Keywords=real-time;strategy;lobby;network;multiplayer;chat;download;spring;
